<h3><%= @question.title %></h3>
<p>
<%= @question.body %>
</p>
<p>
Asked By: <%= link_to @question.author.username, user_path(@question.author) %>
</p>


<h4>Answers:</h4>
<% @answers.each do |answer| %>
  <ul>
    <li><%= answer.body %></li>
    <p>- <%=answer.user.username%></p>
  </ul>
<% end %>

<p><%= link_to 'Create a New Answer', new_question_answer_path(@question) %></p>
