<%= form_for ([@question, @question.answers.build ]) do |f| %>

  <p> Text:</br> <%= f.text_field :body%> </p>

  <%= f.submit :Submit %>
<% end %>

<% if @answer.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@answer.errors.count, "errors") %> prohibited this article from being saved:
    </h2>
    <ul>
      <% @answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
